# Auto detect text files and perform LF normalization
* text=auto

* text eol=crlf

*.dll   binary
*.frx   binary
*.res   binary
*.RES   binary
*.tlb   binary
*.frx   binary
*.exe   binary


# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
